@page
<div class="container">
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><textarea id="textEditor" rows="10" cols="50"></textarea></div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/textEditor.js"></script>